body {
    justify-content: center;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:10%;
}

h1 {
    text-align: center;
    font-size: 54px;
    font-family: "Raleway", Arial, serif;
}

.main{
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#on-hover {
    display:none;
}

.main a:hover + #on-hover {
    display:block;
    width: 40%;
    height:auto;
    border-radius:10px;
    padding-top: 5px;
}

a:link {
    color:black;
    outline:none;
}

a:hover {
    font-size:30px;
}

a:visited {
    color:black;
    outline: none;
}

div.recipes h1 {
    text-align: center;
    display:block;
}

.recipes img {
    width:60%;
    height:auto;
    display: block;
    margin-left:auto;
    margin-right:auto;

}

h2 {
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    font-size:20px;
}

p, ul, ol {
    text-align:justify;
    text-justify: distribute;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding-top: 2%;
    padding-bottom:2%;
}

div.ingredient-step-container {
    display: flex;
    width:fit-content;
    gap:12px;
}

.ingredients, .steps {
    flex:1;
    padding:3%;
    background-color:#f7ebff;
    border: 4px solid #ffe8f7;
    border-radius:10px;
    gap:inherit;
    color: black;
}

.tips {
    background-color: #ffede1;
    border: 4px solid #ffd695;
    border-radius:10px;
    margin-top:1%;
    padding:3%;
    color:black;
}